bs_*.*
tomeapp/node_modules/*
tomeapp/discordtoken.js
tomeapp/public/img/svg*
tomeapp/public/data/wahadata/*.csv
tomeapp/public/data/wahadata/*.xlsx
tomeapp/public/shares/*
exampledata/*
tomeapp/uploads*
