bs_*.*
tomeapp/*
exampledata/*
tomeapp/uploads*
app/node_modules/*
app/discordtoken.js
app/public/shares*
app/public/img/factions*
app/data/wahadata/*.csv
app/data/wahadata/*.xlsx
app/shares/*
exampledata/*
app/uploads*
*.log
