bs_*.*
tomeapp/*
exampledata/*
tomeapp/uploads*
app/node_modules/*
app/discordtoken.js
app/public/shares*
app/public/img/factions*
app/data/scraped/*
app/data/*.csv
app/data/*.xlsx
app/data/database.db
app/shares/*
exampledata/*
app/public/uploads*
*.log
**/.env