#output {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: #000000;
}

h1, h2, h3, h4, hr {
  color: #ffffff;
}

input:checked+.slider {
  background-color: #000000;
}

input:focus+.slider {
  box-shadow: 0 0 1px #000000;
}

.accordion-header {
  color: #ffffff;
  border-color: #000000;
}

.accordion-header .statTag {
  color: #000000;
}

.accordion-content.isOpen {
  border-color: #000000;
}

.accordion-content .block {
  color: #000000;
  border-color: #000000;
}

.openNav {
  color: #ffffff;
}

.tag {
  color: #000000;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #000000;
}

h3 {
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #cccccc;
}

.bg0 {
  background-color: #000000;
}

.bg1 {
  background-color: #222222;
}

.bg2 {
  background-color: #444444;
}

.bg3 {
  background-color: #666666;
}

.bg4 {
  background-color: #888899;
}

.bg5 {
  background-color: #aaaabb;
}

.bg6 {
  background-color: #ccccee;
}

.bg7 {
  background-color: #ffffff;
}

#atkrList {
  background-image: linear-gradient(to right, #333333, #000000);
}

#dfdrList {
  background-image: linear-gradient(to left, #333333, #000000);
}

input:checked+.slider {
  background-color: #222222;
}

input:focus+.slider {
  box-shadow: 0 0 1px #222222;
}

.useTag {
  box-shadow: 0px 0px 2px 1px #00f;
}
