* {
    font-family: Jura;
    font-weight: bold;
    border-radius: 5px;
    scrollbar-width: thin;
    scrollbar-color: #999999 #000000;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: 999999;
}

*::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 20px;
    border: 1px solid #000000;
}

body {
    color: #eeeeee;
    background-color: #000000;
}

.armyHolder {
    height: 100%;
    overflow: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #332211;
    overflow-x: hidden;
    transition: 0.25s;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* padding-top: 60px; */
    /* margin-bottom: 100px; */
    /* padding-bottom: 100px; */
    overflow-y: auto;
    /* overflow: hidden; */
}

#leftSidenav {
    left: 0;
}

#rightSidenav {
    right: 0;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    font-size: 36px;
    background-color: black;
}

.sidenav .leftPos {
    left: 10px;
}

.sidenav .rightPos {
    right: 10px;
}

.sidenav a {
    padding: 0px 8px 0px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-size: 18px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.openNav {
    position: absolute;
    top: 10px;
    font-size: 30px;
    cursor: pointer
}

#lopenNav {
    left: 10px;
    visibility: hidden;
}

#ropenNav {
    right: 10px;
    visibility: hidden;
}

.sidenav a {}

.unitNav {
    max-width: 300px;
    /* width: 85%; */
    background-color: #AA6622;
    padding: 5px;
    border: 1px solid #000000;
    font-size: 0.9em;
    margin: 2px auto 2px auto;
    transition: 0.25s;
    text-align: center;
}

.detNav {
    max-width: 320px;
    padding: 0;
    margin: auto;
}

.abilNav {
    width: 95%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.tag {
    border: 1px solid #000000;
    font-size: 0.8em;
    padding: 2px;
    margin: 1px;
    color: #000000;
    font-weight: bold;
    min-width: 22px;
    transition: 0.5s;
}

.darkTag {
    background-color: #aa6622;
}

.weapBox, .statBox {
    display: block;
    width: 100%;
    margin: 2px;
}

.weapBox {
    display: none;
}

.statName {}

.statStats {
    display: flex;
}

.statCol {
    flex-grow: 1;
}

.statAbil {
    text-align: left;
    padding-left: 5px;
}

.statTag {}

.statTopTag {
    background-color: #cc8844;
}

.statBotTag {
    background-color: #ddaa88;
}

.abilTag {
    background-color: #cc8844;
}

.stratTag {
    background-color: #ddaa88;
}

.useTag {
    box-shadow: 0px 0px 2px 1px #0ff;
}

.ruleTag {
    background-color: #ccaaaa;
}

.phaseTag {
    background-color: #aa7777;
}

.phaseActive {
    background-color: #ffaaaa;
}

.tag:hover {
    background-color: #cccccc;
}

.modelName {
    text-align: center;
    /* flex: 0 0 100%; */
    display: flex;
}

.modelNav {
    width: 95%;
    background-color: #eeaa66;
    padding: 5px;
    border: 1px solid #000000;
    margin: 2px auto 2px auto;
    color: #000000;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.unitNav:hover {
    /* width: 90%; */
}

.modelNav:hover {
    background-color: #AA9966;
}

a {
    color: #cccccc;
}

a:hover {
    color: #FFFFFF;
}

input {
    text-align: center;
    border-radius: 5px;
    border-style: none;
    margin: auto;
    padding: 2px;
    background-color: #ffcc99;
    width: 40px;
    touch-action: none;
}

.spinner {
    /* user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; */
}

.fileSpot {
    color: black;
    margin: 2px;
    width: auto;
}

.fileBtn {
    color: black;
    margin: 2px;
    height: 21px;
    width: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#attackerHeader, #defenderHeader {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    text-align: center;
}

.model {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    text-align: center;
}

.statBoxAttacker, .statBoxDefender, .mods, .mod {
    background-color: #AA6622;
    padding: 2px;
    border: 1px solid #000000;
    font-size: 0.9em;
}

.statBoxDefender {
    background-color: #886644;
}

#phaser {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    /* background-color: #886622;
    padding: 5px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 5px; */
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #886622;
    padding: 5px;
    max-width: 300px;
    margin: auto;
}

.mods {
    background-color: #cc8844;
    padding: 5px;
    margin: 10px;
    color: #000000;
    font-weight: normal;
}

.mod {
    width: 240px;
    background-color: #eeaa66;
    padding: 5px;
    border: 1px solid #000000;
    margin: 2px;
}

.mod:hover {
    background-color: #cc9966;
}

#output {
    margin: 5px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px;
    width: 280px;
    overflow: hidden;
}

.outputFlavor {
    font-style: italic;
    font-weight: 100;
}

h1, h2, h3, hr {
    /* width: 240px; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

hr {
    color: #000000;
}

h2 {
    font-size: 1em;
    padding: 2px;
}

h3 {
    text-align: center;
    font-size: 1em;
    padding: 5px;
    background-color: #000000;
    margin: 5px;
    min-width: 50px;
}

h1 {
    margin: 20px auto 0px auto;
}

h4 {
    font-size: 0.6em;
    padding: 2px;
    margin: 0px auto 30px auto;
}

.ui-accordion-header-active {
    background-color: #333333;
    /* width: 240px; */
}

.ui-tooltip-content {
    /* z-index: 999; */
}

button {
    background-color: #000000;
    border: 2px solid #666666;
    color: white;
    padding: 5px;
    ;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    margin: 2px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

button:hover {
    background-color: #333333;
}

button:focus {
    background-color: #666666;
}

.outputCataR {
    color: #FFbbbb;
    text-shadow: 1px 1px #993333;
}

.outputCataG {
    color: #99FF99;
    text-shadow: 1px 1px #66bb66;
}

.outputCataB {
    color: #bbbbff;
    text-shadow: 1px 1px #6666BB;
}

.ui-tooltip-content {
    max-width: 200px;
    background-color: #000000;
    border: 1px solid #cccccc;
    padding: 5px;
}

.ui-helper-hidden-accessible {
    visibility: hidden;
}

#motdList li {
    margin-bottom: 20px;
}

#attackerName, #defenderName {
    font-size: 1.2em;
    font-weight: bolder;
    padding: 2px;
    margin: 0px auto 6px auto;
}

#defenderName {
    margin: 4px auto 2px auto;
}

#weaponsBox {
    width: 100%;
    text-align: center;
    margin: 4px;
    visibility: hidden;
}
